Header {
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: #f0f0f0;
}

Header .Header {
  position: relative;
}

@media screen and (min-width: 768px) {
  Header .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 500;
  }
}

Header .Header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

Header .Header-logo {
  height: 100%;
}

Header .Header-logo img {
  width: 56px;
  height: 54.133px;
}

@media screen and (min-width: 768px) {
  Header .Header-logo img {
    width: 36px;
    height: 34.8px;
  }
}

Header .Header-button {
  position: relative;
  width: 24px;
  height: 18px;
  background-color: transparent;
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  Header .Header-button {
    display: none;
  }
}

Header .Header-button-line1 {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  height: 2px;
  background-color: #4b4b4b;
  border-radius: 2px;
}

Header .Header-button-line2 {
  position: absolute;
  top: 8px;
  width: 100%;
  display: block;
  height: 2px;
  background-color: #4b4b4b;
  border-radius: 2px;
}

Header .Header-button-line3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 2px;
  background-color: #4b4b4b;
  border-radius: 2px;
}

Header .Header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
  padding: 24px 16px;
  background-color: #f0f0f0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
  direction: rtl;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  Header .Header-menu {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: static;
    pointer-events: all;
    margin-left: auto;
    direction: ltr;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  Header .Header-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

Header .Header-menu ul li {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  Header .Header-menu ul li {
    margin-left: 50px;
    margin-bottom: 0;
  }
}

Header .Header-menu ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}

Header .Header .show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: auto;
}
/*# sourceMappingURL=header.css.map */