$max-width: 1200px;
$finger-size: 40px;
$font-general: 'Open-Sans', sans-serif;
$font-header: 'Bebas Neue', cursive;
$color-bg: rgb(240, 240, 240);
$color-bg2: rgb(220, 220, 220);
$color-font: rgb(75, 75, 75);
$color-header: rgb(26, 26, 26);
$color-subheader: rgb(156, 180, 179);
$color-subheader-hover: rgb(176, 190, 199);
$color-subheadaer-darkhover: rgb(136, 160, 159);
